<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Upload</title>

	<style>
		:root {
			--accent1: rgb(93, 206, 255);
			--accent2: rgb(42, 230, 164);
			--accent3: rgb(254, 69, 143);
			--fg: #ffffff;
			--bg: #000000;

			background-color: var(--bg);
			color: var(--fg);

			font-family: monospace;
			font-size: 1.3em;
		}

		body {
			margin: 0;
			padding: 0;
			min-height: 100vh;
			display: flex;
		}

		#form {
			display: none;
		}

		#message {
			font-size: 1em;

			margin: auto;
			min-width: min(40vw, 80vh);
			max-width: max(25vw, 60vh);

			&>pre {
				margin: 0;
				padding: 3em 3em;
				user-select: none;
				white-space: pre-line;
			}

			border: dashed 0.5em;

			border-color: var(--accent1);

			&.ok {
				border-color: var(--accent2);
			}

			&.err {
				border-color: var(--accent3);
			}

			&.center {
				text-align: center;
			}
		}
	</style>
</head>

<body>
	<form method="post" enctype="multipart/form-data" id="form">
		<input id="file" type="file" name="file" multiple="multiple" onchange="this.form.submit()" />
	</form>

	<div class="{{.MessageClass}}" id="message">
		<pre>
			{{.Message}}
		</pre>
	</div>

	<script>
		message.addEventListener("click", (e) => {
			file.click()
		});
	</script>
</body>

</html>
